* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  scroll-padding-top: 110px;
}
body {
  background-color: #0B1D26;
  height: 4000px;
  font-family: GilroyBold;
  color: white;
}
@font-face {
  font-family: ChronicleSemibold;
  src: url('font/Chronicle\ Display\ Semibold.otf') format('truetype');
}
@font-face {
  font-family: GilroyBold;
  src: url('font/Gilroy-Bold.ttf') format('truetype');
}
.logo {
  font-family: ChronicleSemibold;
  font-size: 32px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.bg {
  background: url('/img/BG1.png') center / cover no-repeat;
  height: 200vh;
}
.bg .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 3vw 4vw 3vw;
  transition: background-color 0.3s;
  z-index: 9999;
}
.bg .nav.active {
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.bg .nav .middle {
  display: flex;
  gap: 30px;
}
.bg .nav .middle span {
  font-size: 18px;
}
.bg .nav .right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bg .nav .right span {
  font-size: 17px;
}
.bg .nav .phone-right {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  transform: scale(-1);
}
.bg .nav .phone-right::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  pointer-events: auto;
}
.bg .nav .phone-right span:nth-child(1),
.bg .nav .phone-right span:nth-child(2),
.bg .nav .phone-right span:nth-child(3) {
  display: block;
  width: 25px;
  background-color: #fff;
  height: 2px;
  margin: 6px 0;
}
.menu-phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0.3s, opacity 0.3s;
  z-index: 9991;
}
.menu-phone.active {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}
.menu-phone .menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-phone .menu-content ul li {
  font-size: 28px;
  line-height: 36px;
  padding: 10px 0;
}
.menu-phone .menu-content ul li:nth-child(5) {
  display: flex;
  align-items: center;
  gap: 6px;
}
.menu-phone .menu-content ul li:nth-child(5) img {
  width: 27px;
  vertical-align: middle;
}
.fixed-left {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 4%;
  z-index: 999;
  transition: opacity 0.2s;
}
.fixed-left span:first-child {
  writing-mode: vertical-lr;
}
.fixed-right {
  position: fixed;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  z-index: 999;
}
.fixed-right ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.fixed-right ul li {
  padding: 16px;
  border-right: 4px solid rgba(255, 255, 255, 0.4);
}
.fixed-right ul li a {
  opacity: 0.4;
  transition: opacity 0.4s, letter-spacing 0.4s;
}
.fixed-right ul li a.active {
  opacity: 1;
  letter-spacing: 6px;
}
.fixed-right .navigation {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 4px;
  height: 54px;
  transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 320px;
}
.wrapper .main-middle {
  position: relative;
  margin-top: 13vw;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  gap: 32px;
  flex-direction: column;
}
.wrapper .main-middle .main-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  height: 22px;
  color: #FBD784;
}
.wrapper .main-middle .main-top span:nth-child(1) {
  background-color: #FBD784;
  width: 72px;
  height: 2px;
  font-size: 18px;
}
.wrapper .main-middle .main-top span:nth-child(2) {
  letter-spacing: 6px;
}
.wrapper .main-middle .title {
  font-family: ChronicleSemibold;
  font-size: 88px;
}
.wrapper .main-middle .scroll-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .main-content {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-top: 750px;
}
.wrapper .main-content .content {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .main-content .content .pic {
  border-radius: 1rem;
}
.wrapper .main-content .content .pic img {
  width: 100%;
  object-fit: cover;
}
.wrapper .main-content .content .left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  padding: 140px;
}
.wrapper .main-content .content .left-box .num-odd,
.wrapper .main-content .content .left-box .num-even {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 240px;
  opacity: 0.1;
}
.wrapper .main-content .content .left-box .top-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.wrapper .main-content .content .left-box .top-box .line {
  background-color: #FBD784;
  width: 72px;
  height: 2px;
}
.wrapper .main-content .content .left-box .top-box .startedText {
  font-size: 18px;
  color: #FBD784;
  letter-spacing: 6px;
}
.wrapper .main-content .content .left-box .title {
  font-family: ChronicleSemibold;
  font-size: 64px;
}
.wrapper .main-content .content .left-box .content {
  font-size: 18px;
  line-height: 32px;
}
.wrapper .main-content .content .left-box .read-more-box {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 20px;
  vertical-align: middle;
}
.wrapper .main-content .content .left-box .read-more-box .read-more-text {
  position: relative;
  top: -1px;
  font-size: 18px;
  color: #FBD784;
}
.wrapper .main-content .content:nth-child(even) .left-box {
  order: 2;
}
.wrapper .main-content .content:nth-child(even) .pic {
  order: 1;
}
.wrapper footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 200px 0;
  padding: 0 32px;
}
.wrapper footer .f-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper footer .f-left .logo {
  padding: 10px 0;
}
.wrapper footer .f-left .copyText {
  text-align: end;
  opacity: 0.5;
}
.wrapper footer .content {
  font-size: 18px;
  line-height: 32px;
  scroll-margin-top: 100px;
}
.wrapper footer .f-right {
  display: flex;
  align-items: flex-start;
  gap: 8vw;
}
.wrapper footer .f-right .more-on-the-blog ul li:first-child,
.wrapper footer .f-right .more-on-mntn ul li:first-child {
  color: #FBD784;
  padding: 10px 0;
  font-size: 24px;
}
.wrapper footer .f-right .more-on-the-blog ul li:not(:first-child),
.wrapper footer .f-right .more-on-mntn ul li:not(:first-child) {
  font-weight: 300;
  padding: 10px 0;
  line-height: 32px;
}
@media (max-width: 1500px) {
  html {
    scroll-padding-top: 0;
  }
  .wrapper .main-content {
    margin-top: 300px;
  }
  .wrapper .main-content .content {
    flex-direction: column;
  }
  .wrapper .main-content .content .pic {
    order: 2 !important;
    width: 100%;
    padding: 0 140px;
  }
  .wrapper .main-content .content .left-box {
    order: 1 !important;
    padding: 140px 80px 80px;
  }
}
@media (max-width: 1200px) {
  .wrapper .main-content .content .pic {
    width: 100%;
    padding: 0 140px;
  }
  .wrapper .main-middle .title {
    font-size: 4vw !important;
  }
}
@media (max-width: 840px) {
  .bg .nav .middle {
    display: none;
  }
  .bg .nav .right {
    display: none;
  }
  .bg .nav .phone-right {
    display: block;
  }
  .wrapper .main-content {
    margin-top: 300px;
  }
  .wrapper .main-content .content .pic {
    width: 100%;
    padding: 0 32px;
  }
  .wrapper .main-content .content .left-box {
    padding: 140px 32px 32px !important;
  }
  .wrapper .main-content .content .left-box .top-box .startedText {
    font-size: 14px !important;
  }
  .wrapper .main-content .content .left-box .title {
    font-size: 48px !important;
  }
  .wrapper .main-content footer {
    margin: 0 0 100px 0;
  }
  .wrapper .main-middle {
    padding: 0 48px;
  }
  .wrapper .main-middle .title {
    font-size: 2.5rem !important;
  }
  .wrapper footer {
    flex-direction: column;
  }
  .wrapper footer .f-left .logo {
    text-align: center;
  }
  .wrapper footer .f-left .copyText {
    position: absolute;
    bottom: 0;
  }
  .wrapper footer .f-right {
    justify-content: space-between;
    margin: 32px 0;
  }
}
@media (max-width: 450px) {
  .wrapper footer .f-right {
    flex-direction: column;
  }
}
